
.editProfileHeader {
    background:#C1DAD7
}
.editProfileTitle {
    color:#060124;
    font-size:28px;
    line-height:59px;
}
.studentDetails {
    background:#f5f5f5;
}
.fontFamily {
    font-family: Alegreya Sans;
}
.userInfo {
    font-size:24px;
    color:#060124;
}
.dataHeading {
    font-size:16px;
    color:#060124;
}